.App {
  margin: 50px auto;
  padding: 0 150px;
  text-align: center;
}

.villagersContainer h2 {
  text-align: left;
}

.villagersList {
  display: flex;
  flex-wrap: wrap;
}
.villagerContainer {
  margin: 10px 20px;
  padding: 5px 10px;
  border-radius: 25px;
  border: 2px solid rgb(7%, 65%, 88%);
  text-decoration-line: underline;
}

input{
 width:300px;
 height:30px;
  margin: 10px 0;
}

button{
  width:120px;
 height:40px;
 font-size:1.5rem;
}
.errorMessage{
  color:red;
}